:root {
--light:#ffffff;
--sandy:#999966;
--smoky:#737373;
--periwinkle:#ccccff;;
--mint:#ccffe6;
--forest:#00994d;
--jade: #004d1a;
}
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.myNav {
    margin: 0;
    padding: 0;
    overflow: hidden;

}
.navHeader {
    float: left;
    padding: 17px;
    font-family: 'Lobster', sans-serif;
    font-size: 50px;
    text-decoration: none;
    color: var(--jade);
    text-shadow: 2px 3px 7px var(--light), 2px 3px 7px var(--smoky);
}
.navHeader:hover {
color: var(--mint);
text-decoration: none;
}
.navHeader:focus {
    color: var(--mint);

}
.navLinks {
    color: var(--light);
    text-shadow: 3px 3px 7px var(--smoky);
    text-decoration: none;
    font-size: 20px;
    display:block;
    float: right;
    padding: 32px 35px 12px 3px;
}
.navLinks:hover {
    text-decoration: none;
    color: var(--forest);
}
.navLinks:active, :focus {
color: var(--mint);
}