.myNav {
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.navHeader {
    float: left;
    padding: 17px;
    margin-left: 20px;
    font-family: 'Lobster', sans-serif;
    font-size: 50px;
    text-decoration: none;
    color: var(--sky);
    text-shadow: 3px 4px 8px var(--chocolate), 3px 4px 8px var(--jade);
}
.navHeader:hover {
    color: var(--mint);
    text-decoration: none;
}
.navHeader:focus {
    color: var(--mint);
}

.navLinks {
    color: var(--beige);
    text-shadow: 3px 5px 8px var(--jade), 3px 5px 8px var(--chocolate) ;
    text-decoration: none;
    font-family: 'Anton', sans-serif;
    font-size: 25px;
    display: block;
    float: right;
    padding: 32px 35px 12px 3px;
}
.navLinks:hover {
    text-decoration: none;
    color: var(--sky);
}
.navLinks:active,
:focus {
    color: var(--mint);
}