:root {
  --light: #ffffff;
  --beige: #fff2e6;
  --peachy: #ffd9b3;
  --sandy: #999966;
  --fog: #cccccc;
  --gray: #6f766f;
  --smoky: #737373;
  --dusty: #292f26;
  --sky: #c7d8eb;
  --bluegray: #6996c9;
  --navy:#294a70;
  --periwinkle: #ccccff;
  --mint: #ccffe6;
  --tree: #869544;
  --cammo: #586539;
  --grassy: #009933;
  --forest: #00994d;
  --jade: #004d1a;
  --chocolate: #993300;
  --rosy: #ff0066;
  --dark:#000000;
}
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -1;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
#centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

#homePic {
  margin: 15px;
  border-radius: 10px;
  box-shadow: 4px 7px 12px 6px var(--mint);
  animation-name: home;
  animation-duration: 7s;
}
@keyframes home {
  from { opacity: 0%;}
  to { opacity: 100%; box-shadow: 4px 7px 12px 6px var(--mint);
  }
}
#homeButton {
  font-family: 'Anton', sans-serif;
  font-size: 25px;
  font-weight: 500;
  border-radius: 5px;
  border-color: transparent;
  background-color: transparent;
  color: var(--light);
  text-shadow: 2px 3px 7px var(--jade), 2px 3px 7px var(--smoky);
  box-shadow: 4px 7px 12px 6px var(--mint);
  animation-name: home;
  animation-duration: 7s;
}
#homeButton:hover {
  color: var(--mint);
  box-shadow: 5px 7px 9px var(--light);
}

.booksContainer {
  margin-top: 30px;
}
#bookButton {
  border-radius: 5px;
  border-color: transparent;
  background-color: transparent;
  color: var(--light);
  font-size: 18px;
  font-weight: 500;
  text-shadow: 2px 3px 7px var(--jade), 2px 3px 7px var(--smoky);
  box-shadow: 7px 8px 10px var(--light);
}
#bookButton:hover {
  color: var(--mint);
  box-shadow: 7px 8px 10px var(--jade);
}

#backButton {
  border-radius: 5px;
  border-color: transparent;
  background-color: transparent;
  color: var(--light);
  font-family: 'Anton', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-shadow: 2px 3px 7px var(--jade), 2px 3px 7px var(--smoky);
  box-shadow: 7px 8px 10px var(--mint);
}
#backButton:hover {
  box-shadow: 7px 8px 10px var(--jade);
}

#booksHeader {
  font-family: 'Anton', sans-serif;
  font-size: 60px;
  color: var(--beige);
  text-shadow: 2px 3px 7px var(--jade), 2px 3px 7px var(--chocolate);
}
.homeSubHeader {
  font-family: 'Anton', sans-serif;
  font-size: 40px;
  color: var(--sky);
  text-shadow: 2px 3px 7px var(--chocolate), 2px 3px 7px var(--jade);
}
#booksSubHeader {
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  color: var(--beige);
  text-shadow: 2px 3px 7px var(--jade), 2px 3px 7px var(--chocolate);
}

#books {
  font-size: 25px;
  font-family: 'Lobster', sans-serif;
  color: var(--light);
  text-shadow: 2px 3px 7px var(--jade), 2px 3px 7px var(--smoky);
}
#booksTitle {
  font-family: 'Lobster', sans-serif;
  font-size: 35px;
  text-decoration: none;
  color: var(--sky);
  text-shadow: 3px 4px 8px var(--chocolate), 3px 4px 8px var(--jade);
}
.bigBookPic {
  margin-top: 30px;
}

#profilePic {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow:1px 3px 5px 6px var(--light);
}
#authorText {
  font-size: 23px;
  margin-top: 25px;
  padding-right: 65px;
}
#author {
  margin: 5px 3px;
  font-family: 'Anton', sans-serif;
  font-size: 16px;
  border-radius: 10px;
  color: var(--light);
  text-shadow: 2px 3px 7px var(--navy), 2px 3px 7px var(--dark), 2px 3px 7px var(--dark);
  background-image: linear-gradient(to left, var(--navy), var(--sky));
  box-shadow:1px 3px 5px 6px var(--light);
}
#authorBio {
  border-radius: 10px;
  font-family: 'Anton', sans-serif;
  font-size: 16px;
  color: var(--light);
  text-shadow: 2px 3px 7px var(--navy), 2px 3px 7px var(--dark), 2px 3px 7px var(--dark);
  background-image: linear-gradient(to left, var(--navy), var(--sky));
  box-shadow: 7px 8px 10px 3px var(--light);
}
#eventsContainer {
  border-radius: 10px;
  font-family: 'Anton', sans-serif;
  font-size: 16px;
  color: var(--light);
  text-shadow: 2px 3px 7px var(--navy), 2px 3px 7px var(--dark), 2px 3px 7px var(--dark);
  background-image: linear-gradient(to top, var(--navy), var(--sky));
  box-shadow: 7px 8px 10px 3px var(--light);
}
#eventsPic {
  margin-top: 15px;
  border-radius: 10px;
  box-shadow:1px 3px 5px 6px var(--light);
}
#eventsTitle {
  padding-top: 15px;
  margin-top: 15px;
}
#eventsText {
  font-size: 23px;
  margin-top: 5px;
}
#eventText {
  font-size: 23px;
}
#Bio {
  text-decoration: none;
  color: var(--mint);
  text-shadow: 2px 3px 7px var(--dark), 2px 3px 7px var(--dark);
}
#Bio:hover {
  color: var(--sky)
}

#bookTitle {
  font-size: 45px;
}
#bookTitle4 {
  font-size: 35px;
}
#bookText {
  font-size: 25px;
  margin-top: 25px;
  padding-right: 65px;
}
#bookText2 {
  font-size: 25px;
  margin-top: 25px;
  padding-right: 65px;
}
#bookText4 {
  font-size: 21px;
  margin-top: 25px;
  padding-right: 65px;
}
#bookText5 {
  font-size: 21px;
  margin-top: 15px;
  margin-bottom: 5px;
  padding-right: 65px;
}
#bookPics {
  margin-top: 25px;
  margin-left: 30px;
  border-radius: 10px;
  box-shadow: 7px 8px 10px 3px var(--light);
  margin-bottom: 15px;
}
#bookPics2 {
  margin-top: 25px;
  margin-left: 30px;
  border-radius: 10px;
  box-shadow: 7px 8px 10px 3px var(--light);
  margin-bottom: 15px;
}
#bookPics4 {
  margin-top: 45px;
  margin-left: 30px;
  border-radius: 10px;
  box-shadow: 7px 8px 10px 3px var(--light);
  margin-bottom: 15px;
}

.getIt {
  margin-top: 10px;
}

@media screen and (max-width:992px) {
  #profilePic {
    margin-top: 23px;
    margin-left: 45px;
  }
  #authorBio {
    background-image: linear-gradient(to top, var(--navy), var(--sky));
  }
  #authorText {
    font-size: 20px;
    margin-left: 40px;
  }
  #bookText {
    margin-top: 35px;
    font-size: 16px;
    padding-right: 2px;
  }
  #bookText2 {
    margin-top: 15px;
    font-size: 16px;
    padding-right: 2px;
  }
  #bookText4 {
    margin-top: 15px;
    font-size: 16px;
    padding-right: 2px;
  }
  #bookText5 {
    margin-top: 15px;
    font-size: 16px;
    padding-right: 2px;
  }
  #bookTitle {
    font-size: 35px;
  }
  #bookPics2 {
    margin-top: 50px;
  }
  #bookPics4 {
    margin-top: 150px;
  }
  #eventsPic{
    margin-top: 20px;
    margin-left: 7px;
  }
  #eventsTitle {
    margin-top: 20px;;
  }
}
@media screen and (max-width:768px) {
  #homePic {
    width:700px;
    align-items: center;
    justify-content: center;
  }
  #author {
    background-image: linear-gradient(to top, var(--navy), var(--sky));
  }
  #profilePic {
    margin-top: 25px;
    align-items: center;
    justify-content: center;
    width:600px;
  }
  #eventsPic {
    width:475px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }  
}
@media screen and (max-width:576px) {
  #homePic {
    width:380px;
    align-items: center;
    justify-content: center;
  }
  #profilePic {
    margin-top: 25px;
    align-items: center;
    justify-content: center;
    width:300px;
  }
  #eventsPic {
    width:380px;
    margin-left:7px;
    align-items: center;
    justify-content: center;
  }
  #bookPics {
    width:300px;
    margin-left: 17px;
  }
  #bookPics2 {
    width:300px;
    margin-left: 17px;
  }
  #bookPics4 {
    width:300px;
    margin-left: 17px;
  } 
}

@media screen and (max-width:360px) {
  #homePic {
    width:320px;
    align-items: center;
    justify-content: center;
  }
  #profilePic {
    margin-top: 25px;
    margin-left: 25px;
    align-items: center;
    justify-content: center;
    width:280px;
  }
  #eventsPic {
    width:320px;
    margin-left:7px;
    align-items: center;
    justify-content: center;
  }
  #bookPics {
    width:250px;
    margin-left:15px;
  }
  #bookPics2 {
    width:250px;
    margin-left:15px;
  }
  #bookPics4 {
    width:250px;
    margin-left:15px;
    margin-top: 30px;
  } 
}