:root {
  --light: #ffffff;
  --beige: #fff2e6;
  --peachy: #ffd9b3;
  --sandy: #999966;
  --fog: #cccccc;
  --gray: #6f766f;
  --smoky: #737373;
  --dusty: #292f26;
  --sky: #c7d8eb;
  --bluegray: #6996c9;
  --navy:#294a70;
  --periwinkle: #ccccff;
  --mint: #ccffe6;
  --tree: #869544;
  --cammo: #586539;
  --grassy: #009933;
  --forest: #00994d;
  --jade: #004d1a;
  --chocolate: #993300;
  --rosy: #ff0066;
  --dark:#000000;
}
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -1;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pageHeaders {
  font-family: 'Anton', sans-serif;
  font-size: 60px;
  color: var(--beige);
  text-shadow: 2px 3px 7px var(--jade), 2px 3px 7px var(--chocolate);
}
.homePic {
  margin: 15px;
  border-radius: 10px;
  box-shadow: 4px 7px 12px 6px var(--mint);
  animation-name: home;
  animation-duration: 7s;
}
@keyframes home {
  from { opacity: 0%;}
  to { opacity: 100%; box-shadow: 4px 7px 12px 6px var(--mint);
  }
}
.homeSubHeader {
  font-family: 'Anton', sans-serif;
  font-size: 40px;
  color: var(--sky);
  text-shadow: 2px 3px 7px var(--chocolate), 2px 3px 7px var(--jade);
}
#homeButton {
  font-family: 'Anton', sans-serif;
  font-size: 25px;
  font-weight: 500;
  border-radius: 5px;
  border-color: transparent;
  background-color: transparent;
  color: var(--light);
  text-shadow: 2px 3px 7px var(--jade), 2px 3px 7px var(--smoky);
  box-shadow: 4px 7px 12px 6px var(--mint);
  animation-name: home;
  animation-duration: 7s;
}
#homeButton:hover {
  color: var(--mint);
  box-shadow: 5px 7px 9px var(--light);
}
#writtenBy {
  font-size: 25px;
  font-family: 'Lobster', sans-serif;
  color: var(--light);
  text-shadow: 2px 3px 7px var(--jade), 2px 3px 7px var(--smoky);
}
#authorName {
  font-family: 'Lobster', sans-serif;
  font-size: 35px;
  text-decoration: none;
  color: var(--sky);
  text-shadow: 3px 4px 8px var(--chocolate), 3px 4px 8px var(--jade);
}

.booksContainer {
  margin-top: 30px;
}
#bookButton {
  border-radius: 5px;
  border-color: transparent;
  background-color: transparent;
  color: var(--light);
  font-size: 18px;
  font-weight: 500;
  text-shadow: 2px 3px 7px var(--jade), 2px 3px 7px var(--smoky);
  box-shadow: 7px 8px 10px var(--light);
}
#bookButton:hover {
  color: var(--mint);
  box-shadow: 7px 8px 10px var(--jade);
}
#editedBy {
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  color: var(--beige);
  text-shadow: 2px 3px 7px var(--jade), 2px 3px 7px var(--chocolate);
}

#backButton {
  border-radius: 5px;
  border-color: transparent;
  background-color: transparent;
  color: var(--light);
  font-family: 'Anton', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-shadow: 2px 3px 7px var(--jade), 2px 3px 7px var(--smoky);
  box-shadow: 7px 8px 10px var(--mint);
}
#backButton:hover {
  box-shadow: 7px 8px 10px var(--jade);
}
#bookTitle {
  padding-top: 10px;
  font-size: 45px;
}
#bookText {
  font-size: 25px;
  margin-top: 25px;
}
.descriptions {
  margin: 15px;
  font-family: 'Anton', sans-serif;
  font-size: 16px;
  border-radius: 10px;
  color: var(--light);
  text-shadow: 2px 3px 7px var(--navy), 2px 3px 7px var(--dark), 2px 3px 7px var(--dark);
  background-image: linear-gradient(to left, var(--navy), var(--sky));
  box-shadow:1px 3px 5px 6px var(--light);  
}
.flexing {
display: flex;
justify-content: center;
flex-direction: row;
}
.responsive {
  max-width:100%;
  height: auto;
}
.bookStyle {
  border-radius: 10px;
  border-color: transparent;
  background-size:cover;
  box-shadow: 7px 8px 10px 3px var(--light);
}
#placement {
  margin: 25px;
}
.getIt {
  margin-top: 10px;
}

div#authorBio.authorFlex.container { 
  display: flex;
  align-items: center;
  justify-content: center;
}
.authorFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  }
  #authorPlacement {
    margin-top: 25px;
    margin-bottom: 25px;
  }
.profilePic {
  border-radius: 10px;
  box-shadow:1px 3px 5px 6px var(--light);
}
#authorText {
  font-size: 23px;
  margin-top: 30px;
}
#author {
  font-family: 'Anton', sans-serif;
  font-size: 16px;
  border-radius: 10px;
  color: var(--light);
  text-shadow: 2px 3px 7px var(--navy), 2px 3px 7px var(--dark), 2px 3px 7px var(--dark);
  background-image: linear-gradient(to left, var(--navy), var(--sky));
  box-shadow:1px 3px 5px 6px var(--light);
}
#authorBio {
  border-radius: 10px;
  font-family: 'Anton', sans-serif;
  font-size: 16px;
  color: var(--light);
  text-shadow: 2px 3px 7px var(--navy), 2px 3px 7px var(--dark), 2px 3px 7px var(--dark);
  background-image: linear-gradient(to left, var(--navy), var(--sky));
  box-shadow: 7px 8px 10px 3px var(--light);
}

#eventsContainer {
  border-radius: 10px;
  font-family: 'Anton', sans-serif;
  font-size: 16px;
  color: var(--light);
  text-shadow: 2px 3px 7px var(--navy), 2px 3px 7px var(--dark), 2px 3px 7px var(--dark);
  background-image: linear-gradient(to top, var(--navy), var(--sky));
  box-shadow: 7px 8px 10px 3px var(--light);
}
.eventsPic {
  margin-top: 15px;
  border-radius: 10px;
  box-shadow:1px 3px 5px 6px var(--light);
}
#eventsTitle {
  padding-top: 15px;
  margin-top: 15px;
}
#eventsText {
  font-size: 23px;
  margin-top: 5px;
}
#eventTextBody {
  font-size: 23px;
}
#Bio {
  text-decoration: none;
  color: var(--mint);
  text-shadow: 2px 3px 7px var(--dark), 2px 3px 7px var(--dark);
}
#Bio:hover {
  color: var(--sky)
}
#name {
  font-size: 17px;
  color: var(--periwinkle);
  text-shadow: 2px 3px 7px var(--dark), 2px 3px 7px var(--dark);
}
#name:hover {
  color: var(--beige);
}
#copy {
  color: var(--beige);
  text-shadow: 2px 3px 7px var(--dark), 2px 3px 7px var(--dark);
}
#copyright {
  border-radius: 10px;
  border: transparent;
  box-shadow: 2px 3px 5px 1px var(--dark);
}

@media screen and (max-width:992px) {
  #bookText {
    margin-left: 20px;
    font-size: 17px;
    padding-right: 2px;
  }
  #bookTitle {
    font-size: 35px;
  }
.authorFlex {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  .profilePic {
  align-items: center;
  justify-content: center;    
  }
  #authorBio {
    background-image: linear-gradient(to top, var(--navy), var(--sky));
  }
  #authorText {
    font-size: 20px;
  }
}
@media screen and (max-width:768px) {
  #author {
    background-image: linear-gradient(to top, var(--navy), var(--sky));
  }
}
@media screen and (max-width:576px) {
  .flexing {
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 20px;
  }
}
@media (min-width: 501px) and (max-width: 575px) {
  #placement {
    margin:15px;
  }
}
@media (min-width: 361px) and (max-width: 500px) {
  #placement {
    margin:0px;
  }
}
